services:
  eureka-server:
    container_name: sonnetto-eureka-server
    image: w4t3rcs/sonnetto-eureka-server:latest
    pull_policy: always
    ports:
      - '8761:8761'
    networks:
      - sonnetto
  config-server:
    container_name: sonnetto-config-server
    image: w4t3rcs/sonnetto-config-server:latest
    pull_policy: always
    ports:
      - '8888:8888'
    depends_on:
      - eureka-server
    networks:
      - sonnetto
  user-service-mysql:
    container_name: sonnetto-mysql
    image: mysql:9
    environment:
      MYSQL_DATABASE: ${MYSQL_USER_SERVICE_DB}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - '3306:3306'
    volumes:
      - db:/var/lib/mysql
    networks:
      - sonnetto
  user-service:
    container_name: sonnetto-user-service
    image: w4t3rcs/sonnetto-user-service:latest
    pull_policy: always
    environment:
      SPRING_PROFILES_ACTIVE: default
      SPRING_DATASOURCE_URL: ${MYSQL_USER_SERVICE_URL}/${MYSQL_USER_SERVICE_DB}
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: create
    ports:
      - '8081:8081'
    depends_on:
      - eureka-server
      - config-server
      - user-service-mysql
    networks:
      - sonnetto
  keycloak-mysql:
    container_name: sonnetto-keycloak-mysql
    image: mysql:9
    environment:
      MYSQL_DATABASE: ${MYSQL_KEYCLOAK_DB}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - keycloak_db:/var/lib/mysql
    networks:
      - sonnetto
  keycloak:
    container_name: sonnetto-keycloak
    image: quay.io/keycloak/keycloak:20.0.2
    environment:
      KC_DB: mysql
      KC_DB_PASSWORD: ${MYSQL_PASSWORD}
      KC_DB_USERNAME: ${MYSQL_USER}
      KC_DB_URL: ${MYSQL_KEYCLOAK_URL}/${MYSQL_KEYCLOAK_DB}

      KC_FEATURES: preview
      KEYCLOAK_ADMIN: ${KEYCLOAK_USERNAME}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD}
    ports:
      - '8282:8080'
    command: start-dev --import-realm
    depends_on:
      - keycloak-mysql
    volumes:
      - ./realms/:/opt/keycloak/data/import/
    networks:
      - sonnetto
  api-gateway:
    container_name: sonnetto-api-gateway
    image: w4t3rcs/sonnetto-api-gateway:latest
    pull_policy: always
    ports:
      - '8080:8080'
    depends_on:
      - eureka-server
      - config-server
      - user-service-mysql
      - user-service
      - keycloak-mysql
      - keycloak
    networks:
      - sonnetto
volumes:
  db:
  keycloak_db:

networks:
  sonnetto:
    driver: bridge