services:
  eureka-server:
    container_name: sonnetto-eureka-server
    image: w4t3rcs/sonnetto-eureka-server:latest
    pull_policy: always
    ports:
      - '8761:8761'
    networks:
      - sonnetto
  config-server:
    container_name: sonnetto-config-server
    image: w4t3rcs/sonnetto-config-server:latest
    pull_policy: always
    ports:
      - '8888:8888'
    depends_on:
      - eureka-server
    networks:
      - sonnetto
  user-service-mysql:
    container_name: sonnetto-user-service-mysql
    image: mysql:9
    environment:
      MYSQL_DATABASE: ${MYSQL_USER_SERVICE_DB}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - '3306:3306'
    volumes:
      - user-service-db:/var/lib/mysql
    networks:
      - sonnetto
  user-service-redis:
    container_name: sonnetto-user-service-redis
    image: redis:7.2.5
    ports:
      - '6379:6379'
    command: redis-server --save 60 1 --loglevel warning --requirepass ${REDIS_PASSWORD}
    volumes:
      - user-service-cache:/data
    networks:
      - sonnetto
  user-service:
    container_name: sonnetto-user-service
    image: w4t3rcs/sonnetto-user-service:latest
    pull_policy: always
    environment:
      SPRING_PROFILES_ACTIVE: default
      SPRING_DATASOURCE_URL: ${MYSQL_USER_SERVICE_URL}/${MYSQL_USER_SERVICE_DB}
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: create
    ports:
      - '8081:8081'
    depends_on:
      - eureka-server
      - config-server
      - user-service-mysql
      - user-service-redis
    networks:
      - sonnetto
  ingredient-service-mysql:
    container_name: sonnetto-ingredient-service-mysql
    image: mysql:9
    environment:
      MYSQL_DATABASE: ${MYSQL_INGREDIENT_SERVICE_DB}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - ingredient-service-db:/var/lib/mysql
    networks:
      - sonnetto
  ingredient-service-redis:
    container_name: sonnetto-ingredient-service-redis
    image: redis:7.2.5
    command: redis-server --save 60 1 --loglevel warning --requirepass ${REDIS_PASSWORD}
    volumes:
      - ingredient-service-cache:/data
    networks:
      - sonnetto
  ingredient-service:
    container_name: sonnetto-ingredient-service
    image: w4t3rcs/sonnetto-ingredient-service:latest
    pull_policy: always
    environment:
      SPRING_PROFILES_ACTIVE: default
      SPRING_DATASOURCE_URL: ${MYSQL_INGREDIENT_SERVICE_URL}/${MYSQL_INGREDIENT_SERVICE_DB}
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: create
    ports:
      - '8082:8082'
    depends_on:
      - eureka-server
      - config-server
      - ingredient-service-mysql
      - ingredient-service-redis
    networks:
      - sonnetto
  dish-service-mysql:
    container_name: sonnetto-dish-service-mysql
    image: mysql:9
    environment:
      MYSQL_DATABASE: ${MYSQL_DISH_SERVICE_DB}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - dish-service-db:/var/lib/mysql
    networks:
      - sonnetto
  dish-service-redis:
    container_name: sonnetto-dish-service-redis
    image: redis:7.2.5
    command: redis-server --save 60 1 --loglevel warning --requirepass ${REDIS_PASSWORD}
    volumes:
      - dish-service-cache:/data
    networks:
      - sonnetto
  dish-service:
    container_name: sonnetto-dish-service
    image: w4t3rcs/sonnetto-dish-service:latest
    pull_policy: always
    environment:
      SPRING_PROFILES_ACTIVE: default
      SPRING_DATASOURCE_URL: ${MYSQL_DISH_SERVICE_URL}/${MYSQL_DISH_SERVICE_DB}
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: create
    ports:
      - '8083:8083'
    depends_on:
      - eureka-server
      - config-server
      - dish-service-mysql
      - dish-service-redis
    networks:
      - sonnetto
  keycloak-mysql:
    container_name: sonnetto-keycloak-mysql
    image: mysql:9
    environment:
      MYSQL_DATABASE: ${MYSQL_KEYCLOAK_DB}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - keycloak_db:/var/lib/mysql
    networks:
      - sonnetto
  keycloak:
    container_name: sonnetto-keycloak
    image: quay.io/keycloak/keycloak:20.0.2
    environment:
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PORT: 8282
      KC_HOSTNAME_STRICT_BACKCHANNEL: false
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HEALTH_ENABLED: true
      KC_DB: mysql
      KC_DB_PASSWORD: ${MYSQL_PASSWORD}
      KC_DB_USERNAME: ${MYSQL_USER}
      KC_DB_URL: ${MYSQL_KEYCLOAK_URL}/${MYSQL_KEYCLOAK_DB}

      KC_FEATURES: preview
      KEYCLOAK_ADMIN: ${KEYCLOAK_USERNAME}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD}
    ports:
      - '8282:8080'
    command: start-dev --import-realm
    depends_on:
      - keycloak-mysql
    volumes:
      - ./realms/:/opt/keycloak/data/import/
    networks:
      - sonnetto
  api-gateway:
    container_name: sonnetto-api-gateway
    image: w4t3rcs/sonnetto-api-gateway:latest
    pull_policy: always
    ports:
      - '8080:8080'
    depends_on:
      - eureka-server
      - config-server
      - user-service-mysql
      - ingredient-service-mysql
      - dish-service-mysql
      - user-service-redis
      - ingredient-service-redis
      - dish-service-redis
      - user-service
      - ingredient-service
      - dish-service
#      - keycloak-mysql
#      - keycloak
    networks:
      - sonnetto
volumes:
  user-service-db:
  user-service-cache:
  ingredient-service-db:
  ingredient-service-cache:
  dish-service-db:
  dish-service-cache:
  keycloak_db:

networks:
  sonnetto:
    driver: bridge