server:
  port: 8080
spring:
#  security:
#    oauth2:
#      resourceserver:
#        jwt:
#          issuer-uri: http://keycloak:8282/realms/sonnetto-realm
  cloud:
    gateway:
      mvc:
        routes:
          - id: user-service
            uri: lb://user-service
            predicates:
              - Path=/api/v1.0/users
          - id: ingredient-service
            uri: lb://ingredient-service
            predicates:
              - Path=/api/v1.0/ingredients
          - id: product-service
            uri: lb://product-service
            predicates:
              - Path=/api/v1.0/products
          - id: order-service
            uri: lb://order-service
            predicates:
              - Path=/api/v1.0/orders
          - id: notification-service
            uri: lb://notification-service
            predicates:
              - Path=/api/v1.0/notifications
          - id: eureka-server
            uri: http://eureka-server:8761
            predicates:
              - Path=/eureka/web
            filters:
              - SetPath=/
          - id: eureka-server-static
            uri: http://eureka-server:8761
            predicates:
              - Path=/eureka/**
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
  tracing:
    sampling:
      probability: 1
  zipkin:
    tracing:
      endpoint: http://zipkin:9411
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/