server:
  port:
    8080
spring:
#  security:
#    oauth2:
#      resourceserver:
#        jwt:
#          issuer-uri: http://localhost:8282/realms/sonnetto-realm
  cloud:
    gateway:
      mvc:
        routes:
          - id: user-service
            uri: lb://user-service
            predicates:
              - Path=/api/v1.0/users
          - id: eureka-server
            uri: http://eureka-server:8761
            predicates:
              - Path=/eureka/web
            filters:
              - SetPath=/
          - id: eureka-server-static
            uri: http://eureka-server:8761
            predicates:
              - Path=/eureka/**