server:
  port: 8082
spring:
  datasource:
    username: user
    password: password
    url: jdbc:mysql://ingredient-service-mysql:3306
    name: ingredientdb
    hikari:
      initialization-fail-timeout: 0
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        cache:
          use_second_level: true
          region:
            factory_class: org.hibernate.cache.ehcache.EhCacheRegionFactory
  cache:
    type: redis
    redis:
      cache-null-values: false
      enable-statistics: true
      time-to-live: 2m
  data:
    redis:
      host: ingredient-service-redis
      password: password
      port: 6379
springdoc:
  show-actuator: true
  api-docs:
    path: /api/v1.0/docs
  swagger-ui:
    path: /swagger-ui.html
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
  tracing:
    sampling:
      probability: 1
  zipkin:
    tracing:
      endpoint: http://zipkin:9411
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/