server:
  port: 8086
spring:
  datasource:
    username: user
    password: password
    url: jdbc:mysql://notification-service-mysql:3306
    name: notificationdb
    hikari:
      initialization-fail-timeout: 0
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
  cache:
    type: redis
    redis:
      cache-null-values: false
      enable-statistics: true
      time-to-live: 2m
  data:
    redis:
      host: notification-service-redis
      password: password
      port: 6379
  kafka:
    bootstrap-servers: broker:9092
    admin:
      fail-fast: true
      modify-topic-configs: true
    consumer:
      group-id: notification-group-id
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
management:
  endpoints:
    web:
      exposure:
        include: '*'
  health:
    show_details: always
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/