server:
  port: 8084
spring:
  datasource:
    username: user
    password: password
    url: jdbc:mysql://order-service-mysql:3306
    name: orderdb
    hikari:
      initialization-fail-timeout: 0
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
  cache:
    type: redis
    redis:
      cache-null-values: false
      enable-statistics: true
      time-to-live: 2m
  data:
    redis:
      host: order-service-redis
      password: password
      port: 6379
  kafka:
    bootstrap-servers: broker:19092
    admin:
      fail-fast: true
    producer:
      retries: 3
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      spring:
        json:
          type:
            mapping: order:org.sonnetto.order.dto.OrderEvent
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
  tracing:
    sampling:
      probability: 1
  zipkin:
    tracing:
      endpoint: http://zipkin:9411
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
stripe:
  api-key: sk_test_51Pj5rhP9Ug6EI0VqWjPjfT2spcyTNTF0F806ZMEumwrl5WdFRhwZk06MrL6TKGINfg9FZDhPXBLfJr4GCctKMFBl00pt9VPh1C
  client:
    success-url: http://frontend:3000/payment/success
    failure-url: http://frontend:3000/payment/failure