server:
  port: 8081
spring:
  datasource:
    username: user
    password: password
    url: jdbc:mysql://172.30.0.2:3306
    name: userdb
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/