server:
  port: 8081
spring:
  datasource:
    username: user
    password: password
    url: jdbc:mysql://mysql:3306/userdb?useSSL=false&createDatabaseIfNotExist=true
    hikari:
      initialization-fail-timeout: 0
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
eureka:
  client:
    service-url:
      defaultZone: http://eureka-0.eureka.default.svc.cluster.local:8761/eureka/
management:
  endpoints:
    web:
      exposure:
        include: *
  health:
    show_details: always