server:
  port: 8081
spring:
  datasource:
    username: user
    password: password
    url: jdbc:mysql://user-service-mysql:3306
    name: userdb
    hikari:
      initialization-fail-timeout: 0
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
  cache:
    type: redis
    redis:
      cache-null-values: false
      enable-statistics: true
      time-to-live: 2m
  data:
    redis:
      host: user-service-redis
      password: password
      port: 6379
  kafka:
    bootstrap-servers: broker:19092
    admin:
      fail-fast: true
    producer:
      retries: 3
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      spring:
        json:
          add:
            type:
              headers: false
management:
  endpoints:
    web:
      exposure:
        include: '*'
  health:
    show_details: always
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/